.dataTables_length select {
  margin-left: 2px;
}

div.dt-buttons {
  margin-left: 7px;
}

a.dt-button {
  box-sizing: border-box;
  margin-right: 0.333em;
  padding: 0.5em 1em;
  border: 1px solid #999;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.88em;
  color: black;
  background-color: #FFFFFF;
  outline: none;
}

a.dt-button:hover:not(.disabled) {
  border: 1px solid #15334C;
  background-color: #dadada;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
}

a.dt-button:hover {
  border: 1px solid #15334C;
  background-color: #101010;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
}

a.dt-button.active:not(.disabled):hover:not(.disabled) {
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
}

button.dt-button,
div.dt-button,
a.dt-button {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
  border-color: rgba(0, 0, 0, .25);
  margin-right: 6px;
}

a.dt-button span {
  margin-right: 9px;
}

div.dt-button-collection a.dt-button.active:not(.disabled) {
  background-color: #dadada;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
}

.dt-button.buttons-columnVisibility:before {
  content: "\2b";
  color: #15334C;
  width: 50%;
  font-weight: bold;
  margin: 4px;
}

div.dt-button-collection {
  width: inherit;
}

.dt-button.buttons-columnVisibility.active:before {
  content: "\2212";
  line-height: 1;
  margin: 4px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow>hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.btn {
  padding: 4px 4px !important;
}


/* Supporting marketing content */

.marketing {
  margin: 40px 0;
  p+h4 {
    margin-top: 28px;
  }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    border-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

thead th {
  border-bottom: 0;
  border-top: 0;
}

tfoot th {
  border-bottom: 1;
  border-top: 0;
  /*border-left: 0;*/
}

tfoot {
  display: table-header-group;
}

tfoot th {
  border-top: 0;
  border-bottom: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}

tfoot th {
  border-bottom: 1;
  border-top: 0;
  /*border-left: 0;*/
}

.no-footer {
  border-bottom: 1px #dddddd !important;
}

.login-info {
  float: right;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-weight: bold;
}

.dataTables_paginate {
  font-size: 13px;
}

.row-title {
  font-weight: bold;
}

.has-success .ui-select-container~.form-control-feedback {
  margin-top: 25px;
  margin-right: 17px;
}

.drop {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px;
}

// .tab-content {
//   margin-top: 10px;
// }

/* custom menu */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}


/* menu generado */

.generated-menu {
  position: relative;
}


/* custom sidebar */

.custom-page-sidebar .custom-sidebar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 5px;
}

.custom-page-sidebar .custom-sidebar-menu a {
  display: block;
  height: 38px;
  line-height: 36px;
  margin: 0;
  padding: 0 16px 0 7px;
  -webkit-text-shadow: none !important;
  text-shadow: none !important;
  font-size: 13px;
  text-decoration: none;
  color: #737373;
  z-index: 123;
}

.custom-page-sidebar .custom-sidebar-menu a:hover {
  color: #262626;
}

.custom-page-sidebar .custom-sidebar-menu a:hover:before {
  display: block;
}

.custom-page-sidebar .custom-sidebar-menu a .menu-icon {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  margin-top: -3px;
}

.custom-page-sidebar .custom-sidebar-menu a .menu-expand {
  display: inline-block;
  position: absolute;
  font-size: 13px;
  line-height: 10px;
  height: 10px;
  width: 10px;
  right: 12px;
  top: 15px;
  margin: 0;
  text-align: center;
  padding: 0;
  -webkit-text-shadow: none;
  text-shadow: none;
  color: #666666;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
}

.custom-page-sidebar .custom-sidebar-menu a .menu-expand:before {
  content: "\f105"/*rtl:"\f104"*/
  ;
}

.custom-page-sidebar .custom-sidebar-menu li {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
}

.custom-page-sidebar .custom-sidebar-menu li:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  width: 4px;
  max-width: 4px;
  overflow: hidden;
  background-color: #2dc3e8;
}

.custom-page-sidebar .custom-sidebar-menu li.open {
  background-color: #ffffff;
}

.custom-page-sidebar .custom-sidebar-menu li.open>a {
  color: #262626;
}

.custom-page-sidebar .custom-sidebar-menu li.open>a .menu-expand {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.custom-page-sidebar .custom-sidebar-menu li.open>.submenu {
  display: block !important;
}

.custom-page-sidebar .custom-sidebar-menu li.active:not(.open):before {
  display: block;
}

.custom-page-sidebar .custom-sidebar-menu li.active>a {
  display: block;
  content: "";
  color: #262626;
  background-color: #f5f5f5;
}

.custom-page-sidebar .custom-sidebar-menu li:not(.open):hover:before {
  display: block;
  background-color: #fb6e52;
}

.custom-page-sidebar .custom-sidebar-menu>li>a {
  border-top: 1px solid #f3f3f3;
}

.custom-page-sidebar .custom-sidebar-menu>li>a:hover {
  border-color: #f3f3f3;
  background-color: #fbfbfb;
}

.custom-page-sidebar .custom-sidebar-menu>li:last-child>a {
  border-bottom: 1px solid #f3f3f3;
}

.custom-page-sidebar .custom-sidebar-menu>li>.submenu {
  background-color: #fbfbfb;
  -webkit-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.15), inset 0 -4px 4px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.15), inset 0 -4px 4px -2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.15), inset 0 -4px 4px -2px rgba(0, 0, 0, 0.15);
}

.custom-page-sidebar .custom-sidebar-menu>li>.submenu:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 23px;
  top: 0;
  bottom: 19px;
  border-left: 1px solid #e2e2e2;
}

.custom-page-sidebar .custom-sidebar-menu>li>.submenu>li>a:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 21px;
  top: 17px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  z-index: 2;
}

.custom-page-sidebar .custom-sidebar-menu>li>.submenu>li.active>a:before {
  background-color: #e2e2e2;
}

.custom-page-sidebar .custom-sidebar-menu>li>.submenu>li.active:first-child>a {
  -webkit-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.15);
}

.custom-page-sidebar .custom-sidebar-menu>li>.submenu>li.active:last-child a {
  -webkit-box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, 0.15);
}

.custom-page-sidebar .custom-sidebar-menu>li.open>a {
  background-color: #ffffff;
}

.custom-page-sidebar .custom-sidebar-menu .submenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fbfbfb;
  border-top: 0;
  z-index: 123;
}

.custom-page-sidebar .custom-sidebar-menu .submenu li {
  margin-left: 0;
  position: relative;
}

.custom-page-sidebar .custom-sidebar-menu .submenu li.open:before {
  display: none;
}

.custom-page-sidebar .custom-sidebar-menu .submenu li.active>a {
  color: #262626;
  background-color: #f5f5f5;
}

.custom-page-sidebar .custom-sidebar-menu .submenu li.active>.submenu {
  display: block;
}

.custom-page-sidebar .custom-sidebar-menu .submenu>li>a {
  padding-left: 40px;
}

.custom-page-sidebar .custom-sidebar-menu .submenu>li.open>a {
  background-color: #fbfbfb;
}

.custom-page-sidebar .custom-sidebar-menu .submenu>li .submenu {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.custom-page-sidebar .custom-sidebar-menu .submenu>li .submenu>li>a {
  padding-left: 50px;
}

.custom-page-sidebar .custom-sidebar-menu .submenu>li .submenu>li .submenu>li>a {
  padding-left: 70px;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu {
  width: 42px;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li.open>.menu-text {
  display: none !important;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li.open>.submenu {
  display: none !important;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li:hover>a {
  color: #262626;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li:hover>a>.menu-text {
  display: block;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li:hover>.submenu {
  display: block !important;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>a {
  position: relative;
  z-index: 123;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>a .menu-text {
  display: none;
  position: absolute;
  left: 42px;
  top: 0;
  width: 195px;
  height: 38px;
  line-height: 38px;
  background-color: #ffffff;
  z-index: 121;
  padding-left: 25px;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>a .menu-expand {
  display: none;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>a.menu-dropdown {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>a.menu-dropdown>.menu-text {
  border: 0;
  top: 0;
  left: 42px;
  width: 195px;
  border-bottom: 1px solid #f3f3f3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>a:hover {
  background-color: #ffffff;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu {
  background: #fbfbfb;
  position: absolute;
  z-index: 120;
  left: 42px;
  top: 0;
  width: 195px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-top: 38px;
  display: none;
  border-left: 1px solid #f3f3f3;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px 5px 5px -5px rgba(0, 0, 0, 0.3), 5px -5px 5px -5px rgba(0, 0, 0, 0.3);
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu li>a {
  margin-left: 0;
  padding-left: 24px;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu li.open>.submenu {
  display: block;
  left: 0;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu li .submenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu li:hover {
  background-color: #ffffff;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu li:hover:before {
  display: block;
  left: 0;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu li.active:not(.open):before {
  left: 0;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu:before {
  display: none;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu>li>a {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.custom-page-sidebar.menu-compact .custom-sidebar-menu>li>.submenu>li>a:before {
  display: none;
}

.error-list>tr>th {
  background-color: rgba(206, 16, 16, 0.87);
  color: #ffffff;
}

.warning-list>tr>th {
  background-color: rgba(255, 206, 85, 0.87);
  color: #000000;
}

td>.checkbox-inline>input,
th>.checkbox-inline>input {
  opacity: 1 !important;
  left: 0 !important;
  position: inherit !important;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: 0 auto !important;
}

.dataTables_wrapper .dataTables_processing {
  top: 5%;
  /*padding-top: 10px;*/
}

.default-well {
  background-color: rgb(179, 204, 178) !important;
}


/* Se agranda el sidebar flotante del menu */

.page-sidebar.menu-compact .sidebar-menu>li>.submenu {
  width: 210px !important;
}

.page-sidebar.menu-compact .sidebar-menu>li>a.menu-dropdown>.menu-text {
  width: 210px !important;
}

.widget-buttons>a>p {
  font-size: 11px;
}

.widget-buttons>a>p>i {
  font-size: 14px;
}

.glyphicon {
  top: 2px;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

.dt-button.buttons-collection.buttons-colvis {
  background-color: #ffffff !important;
}

.navbar .navbar-brand {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  font-weight: 500 !important;
}


/* Propiedades de los filtros */

.filtro-ancho {
  margin: 0px !important;
  /*width: 120px !important;*/
  width: 100% !important;
}

.btn {
  margin-right: 8px;
}

.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}


/* --- Tree --- */

.tree-node {
  border: 1px solid #dae2ea;
  background: #EEEEEE;
  color: #7c9eb2;
}

.nodrop {
  background-color: #f2dede;
}

.tree-node-content {
  margin: 10px;
}

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-handle:hover {}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.angular-ui-tree-empty {
  border: 0px !important;
  min-height: 100px;
  background-color: inherit !important;
  background-image: none !important;
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 0px 0px !important;
  background-position: 0 0 0 0 !important;
}

.select2-hidden-accessible {
  visibility: hidden !important;
}

.form-error-custom {
  padding: 2px 0 2px 16px;
  color: red;
}

.custom-select {
  padding: 2px 4px !important;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
}

.dragover {
  border: 5px dashed blue;
}


/* daterange picker */

@media (min-width: 768px) {
  .form-inline .form-control.date-picker,
  .form-inline .form-control.column-filter {
    width: 100%;
  }
}

.ranges .btn-sm {
  line-height: 1.67;
}


/* datatables styles */

div.dataTables_filter label {
  font-size: inherit;
}

div.dataTables_length label {
  font-size: inherit;
}

div.dt-buttons label {
  display: inline-block;
  float: left;
  font-size: inherit;
  margin-bottom: 0px;
  margin-top: 6px;
}

a.dt-button {
  padding: 6px 4px;
}


/* CUSTOM FORM VALIDATION */

.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px;
}

.has-feedback .form-control-feedback {
  right: 17px !important;
}

.custom-feedback .has-feedback .form-control-feedback {
  margin-top: 0px !important;
  margin-right: 12px !important;
}

.custom-feedback .is-detail .has-feedback .form-control-feedback {
  margin-top: 0px !important;
  margin-right: 5px !important;
}

@media screen and (max-width: 767px) {
  .custom-feedback .has-feedback .form-control-feedback {
    display: none;
  }
}


/* Para que no aparezcan los checks */

.custom-feedback .has-feedback .form-control-feedback {
  display: none;
}

.form-horizontal .has-feedback .form-control-feedback {
  display: none;
}

.form-control-feedback>span {
  display: none;
}

@media screen and (min-width: 768px) {
  .custom-feedback .has-feedback .form-control-feedback {
    margin-top: 0px !important;
    margin-right: 10px !important;
  }
}

@media screen and (min-width: 1080px) {
  .custom-feedback .has-feedback .form-control-feedback {
    margin-top: 0px !important;
    margin-right: 20px !important;
  }
}

@media screen and (min-width: 1580px) {
  .custom-feedback .has-feedback .form-control-feedback {
    margin-top: 0px !important;
    margin-right: 30px !important;
  }
}

.has-success .ui-select-container~.form-control-feedback {
  margin-right: 0px;
}

.has-error .ui-select-container~.form-control-feedback {
  margin-top: 25px;
}

.has-error .help-block {
  margin-bottom: 5px;
  margin-top: 0px;
}

.form-horizontal .form-group .ui-select-container {
  margin-right: 10px;
  margin-left: 10px;
}

.custom-uiselect {
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 34px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  font-size: 13px !important;
}

.custom-success {
  color: #8cc474 !important;
}

div.ui-select-container~div.help-block {
  margin-left: 10px;
}


/* END */

.notif-notread {
  background-color: #DBDBDB !important;
}

a.disabled {
  color: #AAAAAA;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.page-sidebar .sidebar-menu .submenu>li>a {
  padding-left: 5px !important;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinm {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}


/* Padding mas pequeño para wells que incluyen boton de eliminar */

.header-with-button {
  padding: 5px !important;
}

.step-content {
  padding: 0px !important;
}

.dataTables_paginate.paging_full_numbers .pagination {
  min-width: 350px !important;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0px !important;
  }
}

.codigo-importacion-panel {
  margin-bottom: 0px !important;
  border-radius: 0px;
}

.codigo-importacion-label {
  margin-top: 0px;
  margin-bottom: 0px;
}

.columns-selection {
  display: inline-block;
  float: left;
  margin-right: 5px !important;
  margin-top: 5px !important;
}

.introjs-helperNumberLayer {
  padding: 0px;
  border: none;
}

.redBackground {
  background: #F5A9A9;
}

.ui-select-match-text>span {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

.input-group>.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
  width: auto;
}

.back {
  vertical-align: baseline !important;
}

.sample-show-hide {
  background: white;
}

.sample-show-hide {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.sample-show-hide.ng-hide {
  opacity: 0;
}


/* Las transiciones de los items del menu estan hard-codeadas en el css de la libreria mmenu, si los items crecen a mas de 15 hay que ir agregando aqui */

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(16) {
  -webkit-transition-delay: .8s;
  transition-delay: .8s
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(17) {
  -webkit-transition-delay: 850ms;
  transition-delay: 850ms
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(18) {
  -webkit-transition-delay: .9s;
  transition-delay: .9s
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(19) {
  -webkit-transition-delay: 950ms;
  transition-delay: 950ms
}

.mm-menu[class*=mm-effect-listitems-] .mm-listview>li:nth-child(20) {
  -webkit-transition-delay: 1.0s;
  transition-delay: 1.0s
}

.message-sender {
  margin-top: 20px;
}

tags-input.ng-invalid .tags {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* widget */

.widget {
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0 0 30px 0;
}

.widget.collapsed .widget-body {
  display: none;
}

.widget.collapsed.radius-bordered .widget-header {
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-background-clip: padding;
  border-radius: 3px 3px 3px 3px;
  background-clip: padding-box;
}

.widget.no-header .widget-header {
  display: none;
}

.widget.no-header.radius-bordered .widget-body {
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-background-clip: padding;
  border-radius: 3px 3px 3px 3px;
  background-clip: padding-box;
}

.widget.maximized {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  margin: 0;
  overflow: auto;
}

.widget.maximized .widget-body {
  padding: 12px 0;
}

.widget.transparent .widget-header,
.widget.transparent .widget-body {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.widget.transparent .widget-header {
  border-bottom: 1px solid #cccccc;
}

.widget.bordered-top {
  border-top: 3px solid #ffffff;
}

.widget.bordered-bottom {
  border-bottom: 3px solid #ffffff;
}

.widget.bordered-left {
  border-left: 3px solid #ffffff;
}

.widget.bordered-right {
  border-right: 3px solid #ffffff;
}

.widget.radius-bordered .widget-header {
  -webkit-border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
}

.widget.radius-bordered .widget-body {
  -webkit-border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box;
}

.widget.flat .widget-body,
.widget.flat .widget-header {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.widget.lightshadow .widget-body,
.widget.lightshadow .widget-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.widget:hover .compact {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.widget:hover .compact i {
  color: #2dc3e8;
}

.widget-header {
  position: relative;
  min-height: 35px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #555555;
  padding-left: 12px;
  text-align: right;
  /*#region Bordered Header */
  /*#endregion Bordered Header*/
}

.widget-header .widget-icon {
  display: block;
  width: 30px;
  height: 32px;
  position: relative;
  float: left;
  font-size: 111%;
  line-height: 32px;
  text-align: center;
  margin-left: -10px;
}

.widget-header>.widget-caption {
  line-height: 34px;
  padding: 0;
  margin: 0;
  float: left;
  text-align: left;
  font-weight: 400 !important;
  font-size: 13px;
}

.widget-header.lined {
  border: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 2%;
}

.widget-header.lined:before {
  content: "";
  position: absolute;
  display: block;
  width: 96%;
  bottom: 0;
  top: 35px;
  height: 1px;
  left: 2%;
  z-index: 1;
  border-bottom: 1px solid #e5e5e5;
}

.widget-header.lined .widget-buttons {
  padding-right: 2%;
}

.widget-header.lined+.widget-body {
  padding-left: 2%;
  padding-right: 2%;
}

.widget-header.separated {
  margin-bottom: 5px;
}

.widget-header[class*="bg-"] {
  border: 0;
}

.widget-header[class*="bg-"] .widget-caption,
.widget-header[class*="bg-"] i {
  color: #ffffff;
}

.widget-header.bordered-left {
  border-left: 3px solid #ffffff;
}

.widget-header.bordered-right {
  border-right: 3px solid #ffffff;
}

.widget-header.bordered-top {
  border-top: 3px solid #ffffff;
}

.widget-header.bordered-bottom {
  border-bottom: 3px solid #ffffff;
}

.widget-header.header-large {
  min-height: 49px;
  padding-left: 18px;
}

.widget-header.header-large h5 {
  line-height: 48px;
  font-size: 16px;
}

.widget-header.header-large>.widget-buttons {
  line-height: 48px;
  height: 48px;
}

.widget-header.header-large>.widget-buttons a {
  min-width: 26px;
}

.widget-header.header-large>.widget-buttons a i {
  font-size: 20px;
}

.widget-header.header-small {
  min-height: 29px;
  padding-left: 10px;
}

.widget-header.header-small h5 {
  line-height: 28px;
  font-size: 12px;
}

.widget-header.header-small>.widget-buttons {
  line-height: 29px;
  height: 29px;
}

.widget-header.header-small>.widget-buttons a {
  min-width: 16px;
  height: 16px;
}

.widget-header.header-small>.widget-buttons a i {
  font-size: 14px;
}

.widget-buttons {
  display: inline-block;
  padding: 0 5px;
  line-height: 34px;
  position: relative;
  text-align: left;
  height: 36px;
}

.widget-buttons.buttons-bordered {
  border-left: 1px solid #e5e5e5;
}

.widget-buttons.compact {
  margin-top: 4px;
  background-color: #f5f5f5;
  line-height: 27px;
  -webkit-transition: background-color 0.218s ease;
  -moz-transition: background-color 0.218s ease;
  -o-transition: background-color 0.218s ease;
  transition: background-color 0.218s ease;
  -webkit-transition: -webkit-box-shadow 0.218s ease;
  -moz-transition: -moz-box-shadow 0.218s ease;
  -o-transition: box-shadow 0.218s ease;
  transition: box-shadow 0.218s ease;
  -webkit-transition: color 0.318s ease;
  -moz-transition: color 0.318s ease;
  -o-transition: color 0.318s ease;
  transition: color 0.318s ease;
  height: 27px;
}

.widget-buttons.compact:hover {
  background-color: #2dc3e8;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.widget-buttons.compact:hover i {
  color: #ffffff;
}

.widget-buttons.compact:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -4px;
  width: 4px;
  max-width: 4px;
  overflow: hidden;
  background-color: #2dc3e8;
}

.widget-buttons.compact a {
  min-width: 14px;
  line-height: 14px;
}

.widget-buttons.compact i {
  color: #cccccc;
  font-size: 14px;
}

.widget-buttons.no-padding {
  padding: 0;
}

.widget-buttons.padding-5 {
  padding: 0 5px;
}

.widget-buttons.no-border:before {
  display: none;
}

.widget-buttons label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  line-height: 6px;
}

.widget-buttons>a {
  font-size: 14px;
  margin: 0 1px;
  display: inline-block;
  padding: 0;
  line-height: 24px;
  min-width: 20px;
  text-align: center;
}

.widget-buttons>a:hover {
  text-decoration: none;
}

.widget-buttons>a i {
  vertical-align: middle;
}

.widget-buttons>[data-toggle]>.fa {
  margin-right: 0;
}

.widget-buttons>[data-toggle]:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.widget-buttons>[data-toggle]:focus {
  text-decoration: none;
}

.widget-buttons>[data-toggle="dispose"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons>[data-toggle="maximize"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons>[data-toggle="collapse"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons>[data-toggle="refresh"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons>[data-toggle="config"] {
  color: #777777;
  font-size: 14px;
}

.widget-buttons .progress {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  min-width: 100px;
  margin-top: -3px;
}

.widget-buttons .btn-group {
  margin-top: -2px;
}

.widget-buttons .btn-group .dropdown-menu {
  right: 0;
  left: auto;
}

.widget-buttons .badge {
  margin-top: -2px;
}

.widget-buttons .label {
  padding: 5px 6px 5px 6px;
}

.widget-buttons .pagination,
.widget-buttons .pager {
  float: right;
  margin: 5px 2px 1px;
}

.widget-buttons .btn {
  margin-top: -2px;
}

.widget-body {
  background-color: #fbfbfb;
  -webkit-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
  padding: 12px;
}

.widget-body.bordered-left {
  border-left: 3px solid #ffffff;
}

.widget-body.bordered-right {
  border-right: 3px solid #ffffff;
}

.widget-body.bordered-bottom {
  border-bottom: 3px solid #ffffff;
}

.widget-body.bordered-top {
  border-top: 3px solid #ffffff;
}

.widget-body[class*="bg-"] {
  color: #ffffff;
}

.widget-body.no-padding {
  padding: 0;
}

.widget-body.no-padding .accordion {
  border: 0;
}

.widget-body.no-padding .dataTables_filter label {
  margin: 10px;
}

.widget-body.no-padding .dataTables_length {
  top: 10px;
  right: 10px;
}

.widget-body.no-padding .DTTT.btn-group {
  right: 80px;
  top: 10px;
}

.widget-body .accordion.panel-group {
  border-top-width: 1px !important;
}

.widget-body>table {
  margin-bottom: 0;
}

.widget-body hr.wide {
  margin-left: -12px;
  margin-right: -12px;
}


/* wizard */

.wizard {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.wizard.wizard-tabbed {
  background: #fbfbfb;
}

.wizard.wizard-tabbed ul li {
  padding: 0 30px;
  background-color: #fbfbfb;
}

.wizard.wizard-tabbed ul li .chevron {
  display: none;
}

.wizard.wizard-tabbed ul li .chevron:before {
  display: none;
}

.wizard.wizard-tabbed ul li.complete {
  background-color: #fbfbfb;
}

.wizard.wizard-tabbed ul li.active {
  background: #ffffff;
}

.wizard.wizard-wired {
  padding-top: 10px;
  display: block;
  background: #ffffff;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #eeeeee;
}

.wizard.wizard-wired ul {
  display: table;
  width: 100%;
  position: relative;
}

.wizard.wizard-wired ul li {
  display: table-cell;
  text-align: center;
  background-color: #ffffff;
  width: 20%;
  padding: 0;
  margin: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.wizard.wizard-wired ul li .chevron {
  display: none;
}

.wizard.wizard-wired ul li .chevron:before {
  display: none;
}

.wizard.wizard-wired ul li.complete {
  background-color: #ffffff;
}

.wizard.wizard-wired ul li.complete .step:before {
  font-size: 22px;
  line-height: 36px;
}

.wizard.wizard-wired ul li.complete:hover {
  background-color: #ffffff;
}

.wizard.wizard-wired ul li.active {
  background-color: #ffffff;
}

.wizard.wizard-wired ul li .step {
  border-width: 2px;
  width: 40px;
  height: 40px;
  line-height: 34px;
  font-size: 15px;
  z-index: 2;
  background-color: #ffffff;
}

.wizard.wizard-wired ul li .title {
  display: block;
  margin-top: 4px;
  margin-bottom: 6px;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  z-index: 104;
  text-align: center;
  table-layout: fixed;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.wizard.wizard-wired ul li:before {
  display: block;
  content: "";
  width: 100%;
  height: 2px !important;
  font-size: 0;
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative !important;
  top: 25px;
  z-index: 1 !important;
}

.wizard.wizard-wired ul li:first-child:before {
  max-width: 51%;
  left: 50%;
}

.wizard.wizard-wired ul li:last-child:before {
  max-width: 50%;
  width: 50%;
}

.wizard ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  width: 4000px;
}

.wizard ul.previous-disabled li.complete {
  cursor: default;
}

.wizard ul.previous-disabled li.complete:hover {
  background: #f3f3f3;
  cursor: default;
}

.wizard ul.previous-disabled li.complete:hover .chevron:before {
  border-left-color: #f3f3f3;
}

.wizard ul li {
  float: left;
  margin: 0;
  padding: 10px 20px 10px 30px !important;
  position: relative;
  background: #f5f5f5;
  color: #d0d0d0;
  font-size: 16px;
  cursor: default;
  -webkit-transition: all 0.218s ease;
  -moz-transition: all 0.218s ease;
  -o-transition: all 0.218s ease;
  transition: all 0.218s ease;
}

.wizard ul li .step {
  border: 2px solid #e5e5e5;
  color: #cccccc;
  font-size: 13px;
  border-radius: 100%;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  margin-right: 10px;
}

.wizard ul li .chevron {
  border: 24px solid transparent;
  border-left: 14px solid #d4d4d4;
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: 0;
  z-index: 1;
}

.wizard ul li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #f5f5f5;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
  -webkit-transition: all 0.218s ease;
  -moz-transition: all 0.218s ease;
  -o-transition: all 0.218s ease;
  transition: all 0.218s ease;
}

.wizard ul li.complete {
  background: #f5f5f5;
  color: #444444;
}

.wizard ul li.complete:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: -1px;
  height: 2px;
  max-height: 2px;
  overflow: hidden;
  background-color: #a0d468;
  z-index: 10000;
}

.wizard ul li.complete:hover {
  background: #eeeeee;
  cursor: pointer;
}

.wizard ul li.complete:hover .chevron:before {
  border-left: 14px solid #eeeeee;
}

.wizard ul li.complete .chevron:before {
  border-left: 14px solid #f5f5f5;
}

.wizard ul li.complete .step {
  color: #a0d468;
  border-color: #a0d468;
}

.wizard ul li.complete .step:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  content: "\f00c";
  background-color: #ffffff;
  z-index: 3;
  font-family: FontAwesome;
  font-size: 12px;
  color: #a0d468;
}

.wizard ul li.active {
  background: #ffffff;
  color: #262626;
}

.wizard ul li.active .step {
  border-color: #FF6A13;
  color: #FF6A13;
}

.wizard ul li.active:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: -1px;
  height: 2px;
  max-height: 2px;
  overflow: hidden;
  background-color: #FF6A13;
  z-index: 10000;
}

.wizard ul li.active .chevron:before {
  border-left: 14px solid #ffffff;
}

.wizard ul li .badge {
  margin-right: 8px;
}

.wizard>.steps .disabled a {
  background: initial;
}

.wizard ul li:first-child {
  -webkit-border-radius: 2px 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 0 0 0;
  -moz-background-clip: padding;
  border-radius: 2px 0 0 0;
  background-clip: padding-box;
  padding-left: 20px;
}

.wizard ul li {
  background-color: #fff;
  color: #000;
  font-size: 14px;
}

.wizard ul li.disabled {
  background-color: #ddd;
  color: #bbb;
}

.wizard ul li.disabled .chevron:before {
  border-left: 14px solid #ddd;
}

.wizard ul li.disabled .step {
  border: 2px solid #bbb;
  color: #bbb;
}

.wizard ul li a {
  color: inherit;
}

.wizard ul li .step {
  border: 2px solid #53a93f;
  color: #53a93f;
}

.wizard ul li:hover {
  background-color: #eee;
  cursor: pointer;
}

.wizard ul li:hover .chevron:before {
  border-left: 14px solid #eee;
}

.wizard ul li .chevron:before {
  border-left: 14px solid #fff;
}

.wizard ul li.active:before {
  z-index: 100;
}


/* form */

input[type=checkbox] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.checkbox {
  & {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }
  input[type=checkbox] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px !important;
    margin-top: 3px !important;
  }
}

.input-group-button {
  width: 1%;
  vertical-align: middle;
}

.input-group input,
.input-group-button {
  display: table-cell;
}

.input-group-button:last-child .btn {
  margin-left: -1px;
}

.input-group input:last-child,
.input-group-button:last-child .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.input-group {
  .btn {
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    height: 34px;
    width: 100%;
  }
}

.field-container {
  margin-bottom: 15px;
}


/** tooltipped */

.tooltipped {
  position: relative
}

.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased
}

.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent
}

.tooltipped:hover:before,
.tooltipped:hover:after,
.tooltipped:active:before,
.tooltipped:active:after,
.tooltipped:focus:before,
.tooltipped:focus:after {
  display: inline-block;
  text-decoration: none
}

.tooltipped-multiline:hover:after,
.tooltipped-multiline:active:after,
.tooltipped-multiline:focus:after {
  display: table-cell
}

.tooltipped-s:after,
.tooltipped-se:after,
.tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px
}

.tooltipped-s:before,
.tooltipped-se:before,
.tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8)
}

.tooltipped-se:after {
  right: auto;
  left: 50%;
  margin-left: -15px
}

.tooltipped-sw:after {
  margin-right: -15px
}

.tooltipped-n:after,
.tooltipped-ne:after,
.tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px
}

.tooltipped-n:before,
.tooltipped-ne:before,
.tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8)
}

.tooltipped-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px
}

.tooltipped-nw:after {
  margin-right: -15px
}

.tooltipped-s:after,
.tooltipped-n:after {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%)
}

.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%)
}

.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8)
}

.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%)
}

.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8)
}

.tooltipped-multiline:after {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 250px;
  word-break: break-word;
  word-wrap: normal;
  white-space: pre-line;
  border-collapse: separate
}

.tooltipped-multiline.tooltipped-s:after,
.tooltipped-multiline.tooltipped-n:after {
  right: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

.tooltipped-multiline.tooltipped-w:after,
.tooltipped-multiline.tooltipped-e:after {
  right: 100%
}

@media screen and (min-width: 0\0) {
  .tooltipped-multiline:after {
    width: 250px
  }
}

.tooltipped-sticky:before,
.tooltipped-sticky:after {
  display: inline-block
}

.tooltipped-sticky.tooltipped-multiline:after {
  display: table-cell
}


/** ui-select */

// UI SELECT
.has-feedback input.ui-select-search {
  padding: 0px !important;
}

div.ui-select-match>span.ui-select-toggle {
  margin: 0 !important;
}


/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.19.5 - 2016-10-24T23:13:59.551Z
 * License: MIT
 */


/* Style when highlighting a search. */

.ui-select-highlight {
  font-weight: bold;
}

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.ui-select-choices-row:hover {
  background-color: #f5f5f5;
}


/* Select2 theme */


/* Mark invalid Select2 */

.ng-dirty.ng-invalid>a.select2-choice {
  border-color: #D44950;
}

.select2-result-single {
  padding-left: 0;
}

.select2-locked>.select2-search-choice-close {
  display: none;
}

.select-locked>.ui-select-match-close {
  display: none;
}

body>.select2-container.open {
  z-index: 9999;
  /* The z-index Select2 applies to the select2-drop */
}


/* Handle up direction Select2 */

.ui-select-container[theme="select2"].direction-up .ui-select-match,
.ui-select-container.select2.direction-up .ui-select-match {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui-select-container[theme="select2"].direction-up .ui-select-dropdown,
.ui-select-container.select2.direction-up .ui-select-dropdown {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-width: 1px;
  /* FIXME hardcoded value :-/ */
  border-top-style: solid;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  margin-top: -4px;
  /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search,
.ui-select-container.select2.direction-up .ui-select-dropdown .select2-search {
  margin-top: 4px;
  /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match,
.ui-select-container.select2.direction-up.select2-dropdown-open .ui-select-match {
  border-bottom-color: #5897fb;
}

.ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden,
.ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden input {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}


/* Selectize theme */


/* Helper class to show styles when focus */

.selectize-input.selectize-focus {
  border-color: #007FBB !important;
}


/* Fix input width for Selectize theme */

.selectize-control.single>.selectize-input>input {
  width: 100%;
}


/* Fix line break when there's at least one item selected with the Selectize theme */

.selectize-control.multi>.selectize-input>input {
  margin: 0 !important;
}


/* Fix dropdown width for Selectize theme */

.selectize-control>.selectize-dropdown {
  width: 100%;
}


/* Mark invalid Selectize */

.ng-dirty.ng-invalid>div.selectize-input {
  border-color: #D44950;
}


/* Handle up direction Selectize */

.ui-select-container[theme="selectize"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
  margin-top: -2px;
  /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme="selectize"] input.ui-select-search-hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 0;
}


/* Bootstrap theme */


/* Helper class to show styles when focus */

.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ui-select-bootstrap .ui-select-toggle {
  position: relative;
}

.ui-select-bootstrap .ui-select-toggle>.caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px;
}


/* Fix Bootstrap dropdown position when inside a input-group */

.input-group>.ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group>.ui-select-bootstrap>input.ui-select-search.form-control {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group>.ui-select-bootstrap>input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important;
  /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ui-select-bootstrap .ui-select-search-hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.ui-select-bootstrap>.ui-select-match>.btn {
  /* Instead of center because of .btn */
  text-align: left !important;
}

.ui-select-bootstrap>.ui-select-match>.caret {
  position: absolute;
  top: 45%;
  right: 15px;
}


/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */

.ui-select-bootstrap>.ui-select-choices,
.ui-select-bootstrap>.ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px;
}

body>.ui-select-bootstrap.open {
  z-index: 1000;
  /* Standard Bootstrap dropdown z-index */
}

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 3px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important;
  /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0;
}

.ui-select-multiple .ui-select-match-item {
  position: relative;
}

.ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
  pointer-events: none;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}

.ui-select-bootstrap .ui-select-choices-row>span {
  cursor: pointer;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row>span:hover,
.ui-select-bootstrap .ui-select-choices-row>span:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled>span,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}


/* fix hide/show angular animation */

.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important;
}


/* Mark invalid Bootstrap */

.ui-select-bootstrap.ng-dirty.ng-invalid>button.btn.ui-select-match {
  border-color: #D44950;
}


/* Handle up direction Bootstrap */

.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.ui-select-bootstrap .ui-select-match-text {
  width: 100%;
  padding-right: 1em;
}

.ui-select-bootstrap .ui-select-match-text span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.ui-select-bootstrap .ui-select-toggle>a.btn {
  position: absolute;
  height: 10px;
  right: 10px;
  margin-top: -2px;
}


/* Spinner */

.ui-select-refreshing {
  position: absolute;
  right: 0;
  padding: 8px 27px;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ui-select-spin {
  -webkit-animation: ui-select-spin 2s infinite linear;
  animation: ui-select-spin 2s infinite linear;
}

.ui-select-refreshing.ng-animate {
  -webkit-animation: none 0s;
}