<div>
  <div ng-if="!options.imageOnly">
    <div flow-init="options" flow-files-submitted="$flow.upload()" flow-file-added="fileAdded($file, $event, $flow)"
      flow-files-added="filesAdded($files, $event, $flow)" flow-file-success="uploadCompleted($flow.files)"
      flow-name="uploader.flow" class="ng-scope">
      <h4>{{title}}</h4>

      <div class="drop" flow-drop ng-class="dropClass" flow-drop-enabled="!disabled">
        <span class="btn btn-default btn-sm" ng-disabled="disabled" flow-btn>Cargar archivo
        <input type="file" ng-model="fileModel" sf-changed="form" style="visibility: hidden; position: absolute;"/>
      </span>
        <br/>
        <span><small>&nbsp; o arrastre el archivo aqu&iacute;</small></span>
      </div>
      <br/>

      <div>
        <div ng-repeat="file in $flow.files" class="transfer-box">
          <span><small>{{file.relativePath}} ({{ file.size | filesize: 2 }})</small></span>
          <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
            <uib-progressbar class="progress progress-bar progress-bar-sm" value="file.progress() * 100" type="{{file.error ? 'danger': (file.isUploading() ? 'info' : 'success')}}"></uib-progressbar>
          </div>
          <div class="btn-group upload-buttons">
            <button title="Pausar subida de archivo" ng-click="file.pause()" ng-show="!file.paused && file.isUploading()"
              class="btn btn-default btn-sm"><i class="fa fa-pause"></i></button>

            <button title="Continuar subida de archivo" ng-click="file.resume()" ng-show="file.paused" class="btn btn-default btn-sm"><i class="fa fa-play"></i></button>

            <button title="Borrar archivo" ng-click="file.cancel()" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>

            <button title="Reintentar subida" ng-click="file.retry()" ng-show="file.error" class="btn btn-default btn-sm"><i class="fa fa-repeat"></i></button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="options.imageOnly" class="clearfix">
    <div flow-init="options" flow-files-submitted="$flow.upload()" flow-file-added="fileAdded($file, $event, $flow)"
      flow-files-added="filesAdded($files, $event, $flow)" flow-file-success="uploadCompleted($flow.files)"
      flow-name="uploader.flow" class="ng-scope">
      <h4>{{title}}</h4>
      <div class="drop" flow-drop ng-class="dropClass" flow-drop-enabled="!disabled">
        <span class="btn btn-default btn-sm" ng-disabled="disabled" flow-btn>Subir imagen</span>
        <span class="btn btn-default btn-sm" ng-disabled="disabled" flow-btn flow-directory ng-show="$flow.supportDirectory">Subir directorio con im&aacute;genes</span>
        <span><small>&nbsp; o arrastre las im&aacute;genes aqu&iacute;</small></span><b>O</b> Arrastrar
        las im&aacute;genes aqu&iacute;.
      </div>
      <br/>
      <div>
        <div ng-repeat="file in $flow.files" class="gallery-box">
          <span class="title">{{file.name}}</span>
          <div class="thumbnail" ng-show="$flow.files.length">
            <img ng-if="!file.file.image_url" flow-img="file" />
            <img ng-if="file.file.image_url" ng-src="{{file.file.image_url}}" />
          </div>
          <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
            <uib-progressbar class="progress progress-bar progress-bar-sm" value="file.progress() * 100" type="{{file.error ? 'danger': (file.isUploading() ? 'info' : 'success')}}"></uib-progressbar>
          </div>
          <div class="btn-group">
            <a class="btn btn-sm btn-default" ng-disabled="disabled" ng-click="remove(file)">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div ng-if="options.showFilesSummary" class="row" ng-show="$flow.files.length > 0">
          <div class="col-lg-12" style="margin-left: 10px; margin-top: 15px;">
            <h4> Im&aacute;genes subidas </h4>
            <div ng-repeat="file in $flow.files">
              [{{$index + 1}}] <strong>URL:</strong> <span style="font-size: 13px;">{{adjuntosBaseURL}}/{{file.path}}</span>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>