<div>
  <label>{{'Generador de contraseña' | translate }}</label>
  <fieldset>
    <div class="form-group input-group">
      <input id="generatedPassword" class="form-control" ng-model="vm.ngModel" type="text" placeholder="{{'La contraseña generada aparecerá aquí'}}" readonly>
      <span class="input-group-button">
        <button class="btn" type="button" ngclipboard data-clipboard-text="{{vm.ngModel}}" ngclipboard-success="vm.onSuccess(e)">
          <i class="fa fa-paperclip" aria-hidden="true"></i>
        </button>
      </span>
    </div>

    <div class="form-group">
      <label>{{'Longitud' | translate }} {{vm.passwordLength}}</label>
      <input class="form-control" ng-model="vm.passwordLength" type="range" min="10" max="24">
    </div>

    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="vm.includeCapitalLetters">{{'Incluir mayúsculas' | translate }}
    </label>
    </div>
    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="vm.includeNumbers">{{'Incluir número' | translate }}
    </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.includeSymbols">{{'Incluir caracteres especiales' | translate }}
    </label>
    </div>
  </fieldset>
  <div>
    <button class="btn btn-primary btn-block" ng-click="vm.generate()">{{'Generar' | translate}}</button>
  </div>
</div>