<div>
  <label>{{'Generador de contraseña' | translate }}</label>
  <fieldset class="field-container">
    <div class="field-container input-group">
      <input id="generatedPassword" class="form-control" ng-model="vm.model" type="text" placeholder="{{'La contraseña generada aparecerá aquí'}}"
        readonly>
      <span class="input-group-btn">
        <button class="btn btn-default form-control" type="button" ngclipboard data-clipboard-text="{{vm.model}}" ngclipboard-success="vm.onSuccess(e)">
          <i class="fa fa-paperclip" aria-hidden="true"></i>
        </button>
      </span>
    </div>

    <div class="field-container">
      <label>{{'Longitud' | translate }} {{vm.passwordLength}}</label>
      <input ng-model="vm.passwordLength" type="range" min="10" max="24">
    </div>

    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="vm.includeCapitalLetters">{{'Incluir mayúsculas' | translate }}
    </label>
    </div>
    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="vm.includeNumbers">{{'Incluir número' | translate }}
    </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.includeSymbols">{{'Incluir caracteres especiales' | translate }}
    </label>
    </div>
  </fieldset>
  <div class="field-container">
    <button class="btn btn-primary btn-block" type="button" ng-click="vm.generate()">{{'Generar' | translate}}</button>
  </div>
</div>