<div class="{{ vm.classes }} has-feedback" ng-class="{ 'has-error' : vm.form[vm.name].$invalid && (vm.form[vm.name].$touched || vm.submittedFlag), 'has-success' : !vm.form[vm.name].$invalid && (vm.form[vm.name].$touched || vm.submittedFlag)}">
  <label ng-if="vm.label" for="{{vm.name}}" ng-class="{ 'help-block' : vm.form[vm.name].$invalid &&(vm.form[vm.name].$touched || vm.submittedFlag), 'custom-success': !vm.form[vm.name].$invalid && (vm.form[vm.name].$touched || vm.submittedFlag)}">{{ vm.label }} {{vm.isRequired ? '*' : ''}}</label>
  <ui-select multiple bind-theme="{{vm.selectedTheme}}" id="{{vm.name}}" name="{{vm.name}}" id="{{vm.name}}"
    ng-required="{{vm.isRequired}}" ng-model="vm.model" class="custom-uiselect" on-select="vm.selectListener()"
    ng-disabled="vm.isDisabled" reset-search-input="false">
    <ui-select-match>
      <span ng-bind-html="vm.getChoice($item)"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in vm.availableOptions track by $index" lazy-loader="vm.handleLazyLoading">
      <span ng-bind-html="vm.getChoice(item)"></span>
    </ui-select-choices>
  </ui-select>
  <span ng-if="vm.form[vm.name].$touched || vm.submittedFlag" class="form-control-feedback glyphicon" ng-class="{'glyphicon': true, 'glyphicon-ok': !vm.form[vm.name].$invalid && (vm.form[vm.name].$touched || vm.submittedFlag), 'glyphicon-remove': vm.form[vm.name].$invalid && (vm.form[vm.name].$touched || vm.submittedFlag) }"
    aria-hidden="true"></span>
  <p ng-show="vm.form[vm.name].$invalid && (vm.form[vm.name].$touched || vm.submittedFlag)" class="help-block">El campo es obligatorio</p>
</div>