<div class="{{ vm.classes }} has-feedback" ng-class="{ 'has-error' : vm.form[vm.name].$invalid && ((!vm.focus && vm.form[vm.name].$touched) || vm.submittedFlag), 'has-success' : !vm.form[vm.name].$invalid && ((!vm.focus && vm.form[vm.name].$touched) || vm.submittedFlag) }">
  <label ng-if="vm.label" for="{{vm.name}}" ng-class="{ 'help-block' : vm.form[vm.name].$invalid &&((!vm.focus && vm.form[vm.name].$touched)|| vm.submittedFlag), 'custom-success': !vm.form[vm.name].$invalid && (vm.form[vm.name].$touched || vm.submittedFlag)}">{{vm.label}}</label>
  <div class="input-group" style="width: 100%;">
    <input type="text" name="{{vm.name}}" id="{{vm.name}}" ng-model="vm.model" ng-required="vm.isRequired"
      class="form-control" uib-datepicker-popup="{{vm.format}}" is-open="vm.opened" datepicker-options="vm.dateOptions"
      close-text="Cerrar" current-text="Hoy" clear-text="Borrar" datepicker-popup-template-urll="views/datepicker/popup.html"
      ng-disabled="vm.isDisabled" ng-change="vm.updateListener()" init-date="vm.model" show-weeks="vm.showWeeks"
      ng-focus="vm.onFocus()" />
    <span ng-if="(!vm.focus && vm.form[vm.name].$touched)|| vm.submittedFlag" class="feedback-datepicker form-control-feedback glyphicon"
      ng-class="{'glyphicon': true, 'glyphicon-ok': !vm.form[vm.name].$invalid && ((!vm.focus && vm.form[vm.name].$touched)|| vm.submittedFlag), 'glyphicon-remove': vm.form[vm.name].$invalid && ((!vm.focus && vm.form[vm.name].$touched)|| vm.submittedFlag) }"
      aria-hidden="true"></span>
    <span class="datepicker-btn input-group-btn">
			<button type="button" class="btn btn-default form-control" ng-disabled="vm.isDisabled" ng-click="vm.open()">
			<i class="glyphicon glyphicon-calendar"></i></button>
		</span>
  </div>

  <div ng-show="vm.form[vm.name].$invalid && ((!vm.focus && vm.form[vm.name].$touched)|| vm.submittedFlag)"
    class="help-block">El campo es obligatorio</div>
</div>