<div class="btn-group" role="group" aria-label="First group">
    <button ng-disabled="!pending.length || position == 0" type="button" class="glyphicon glyphicon-arrow-left btn btn-default" ng-click="previous()"></button>
    <button ng-disabled="!pending.length || position == pending.length" type="button" class="glyphicon glyphicon-arrow-right btn btn-default" ng-click="next()"></button>
    <button ng-disabled="!pending.length || position == 0" type="button" class="glyphicon glyphicon-remove btn btn-default" ng-click="remove()"></button>
</div>