<div>
    <div class="widget">
      <div class="widget-header">
        <span class="widget-caption">{{options.title}}</span>
        <div class="widget-buttons">
          <a href="#" ng-show="canCreate()" ng-click="new()" title="Nuevo">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
          <a ng-repeat="menuOption in options.extraMenuOptions" href="#" ng-show="menuOption.showCondition()" ng-click="menuOption.action()" title="{{menuOption.title}}">
            <i class="{{menuOption.icon}}"></i>
          </a>
        </div>
      </div>
      <div class="widget-body">
        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstanceCallback" class="table table-striped no-footer">
          <tfoot>
          <tr>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div ng-if="selected">
        <h3>Detalles</h3>
        <table class="table table-striped table-bordered table-detail">
            <tbody>
                <tr ng-repeat="row in options.detailRows">
                    <td ng-if="selected[row.data]" class="row-title">{{row.title}}</td>
                    <td ng-if="selected[row.data] && row.renderWith">{{row.renderWith(selected[row.data])}}</td>
                    <td ng-if="selected[row.data] && !row.renderWith">{{selected[row.data]}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
