<div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <h1> UIX </h1>
    <p>
      Este es un proyecto que muestra como utilizar el toolkit <a href="https://gitlab.com/codium/ui" target="_blank">UI</a>,
      adem&aacute;s de servir como proyecto base para un nuevo desarrollo.
    </p>

    <section>
      <h3>wizard</h3>

      <p>Un wizard es un componente que define un flujo de multiples pasos. A continuaci&oacute;n se muestra un wizard b&aacute;sico:</p>


      <wizard>
        <wizard-pane title="{{'STEP_ONE' | translate}}" number="1" state="uix.step1">
        </wizard-pane>
        <wizard-pane title="{{'STEP_TWO' | translate}}" number="2" state="uix.step2">
        </wizard-pane>
        <wizard-pane title="{{'STEP_THREE' | translate}}" number="3" state="uix.step3" disabled-if="true">
        </wizard-pane>
      </wizard>
      <wizard-content>
        <div class="step-content" id="wizardwidget-steps">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>Wizard de tres pasos</h2>
              <div ui-view></div>
            </div>
          </div>
        </div>
      </wizard-content>
    </section>

    <section>
      <h3>Upload</h3>
      <fileupload options="vm.uploadOptions" title="Foto" ng-model="vm.files" disabled="vm.fileuploadDisabled"></fileupload>
    </section>

    <section>
      <h3>ui-datatable</h3>
      <ui-datatable options="vm.options"></ui-datatable>
    </section>

    <section>
      <h3>ConfirmationModal</h3>
      <button class="btn btn-default" ng-click="vm.showConfirmationModal()">Abrir modal</button>
    </section>

    <section>
      <h3>Forms</h3>
      <validated-text-input model="vm.model.nombre" class="col-lg-12" form="form" name="nombre" submitted-flag="vm.submitted" classes="form-group"
        input-type="text" label="Nombre" is-disabled="false" is-required="true">
      </validated-text-input>

      <validated-text-input model="vm.model.descripcion" class="col-lg-12" form="form" name="descripcion" submitted-flag="vm.submitted"
        classes="form-group" input-type="text" label="Descripción">
      </validated-text-input>

      <validated-uiselect-input is-required="true" class="col-lg-12" model="vm.model.pais" form="form" name="pais" options="vm.paises"
        label="País" submitted-flag="vm.submited" field-to-show="nombre" classes="form-group">
      </validated-uiselect-input>

      <validated-date-input model="vm.model.hasta" class="col-lg-6" form="form" name="hasta" submitted-flag="vm.submitted" classes="form-group"
        input-type="text" label="Fecha hasta" is-disabled="vm.view" is-required="true">
      </validated-date-input>

      <div class="col-lg-12">
        <label>Custom checkbox</label>
        <input type="checkbox" ng-model="vm.checkbox" ui-checkbox data-toggle="toggle" data-on="{{'SI'}}" data-off="{{'NO'}}">
      </div>

      <password-generator class="col-lg-12" after-generate="vm.onPasswordGenerate(password)"></password-generator>
    </section>
  </div>
</div>